POSTGRES_USER=de_user
POSTGRES_PASSWORD=de_password
POSTGRES_DB=ecommerce_db
POSTGRES_PORT=5433

REDIS_PORT=6379

AIRFLOW_DB_URI=postgresql+psycopg2://de_user:de_password@postgres:5432/airflow
AIRFLOW_CELERY_BROKER_URL=redis://redis:6379/0
AIRFLOW_CELERY_RESULT_BACKEND=db+postgresql://de_user:de_password@postgres:5432/airflow
AIRFLOW_FERNET_KEY=CHANGE_ME_FERNET_KEY
AIRFLOW_WEBSERVER_SECRET_KEY=CHANGE_ME_WEBSERVER_SECRET
AIRFLOW_WEBSERVER_PORT=8080
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin123
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User

SUPERSET_PORT=8088
SUPERSET_SECRET_KEY=CHANGE_ME_SUPERSET_SECRET
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin123
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=User
