# Data & Logs
data/
logs/
airflow/logs/
dbt_project/ecommerce/logs/
dbt_project/ecommerce/target/
dbt_project/ecommerce/dbt_packages/

# Python & Venv
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Environment & Secrets
.env
auth.json

# IDEs
.vscode/
.idea/

# Database Data
postgres_data/

# Tmp
tmp/
