# Core Dependencies
sqlalchemy==1.4.52
pandas==2.1.4
psycopg2-binary==2.9.9

# AI & Analytics (Aligned with Airflow 2.9.3 internal deps)
scikit-learn==1.4.2
pyarrow==16.0.0
s3fs==2023.12.2
fsspec==2023.12.2

# Utils
requests==2.32.2
python-dotenv==1.0.1
faker==25.2.0
cryptography==42.0.5
boto3